<a href="https://colab.research.google.com/github/eferna71/machinelearningcreditrisk/blob/main/machinelearningcreditrisk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd, numpy as np

In [19]:
IN_DATAFILE="/lc_loan.csv"

In [20]:
loans = pd.read_csv(IN_DATAFILE, infer_datetime_format= True)

In [21]:
loans.dtypes

id                    int64
member_id             int64
loan_amnt           float64
funded_amnt         float64
funded_amnt_inv     float64
                     ...
all_util            float64
total_rev_hi_lim    float64
inq_fi              float64
total_cu_tl         float64
inq_last_12m        float64
Length: 74, dtype: object

In [22]:
loans.head(5)

        id  member_id  loan_amnt  ...  inq_fi  total_cu_tl inq_last_12m
0  1077501    1296599     5000.0  ...     NaN          NaN          NaN
1  1077430    1314167     2500.0  ...     NaN          NaN          NaN
2  1077175    1313524     2400.0  ...     NaN          NaN          NaN
3  1076863    1277178    10000.0  ...     NaN          NaN          NaN
4  1075358    1311748     3000.0  ...     NaN          NaN          NaN

[5 rows x 74 columns]

In [34]:
datecols = ['issue_d','last_pymnt_d','next_pymnt_d','last_credit_pull_d','earliest_cr_line']

In [35]:
loans[datecols].dtypes

issue_d               object
last_pymnt_d          object
next_pymnt_d          object
last_credit_pull_d    object
earliest_cr_line      object
dtype: object

In [1]:
import datetime
def getDate(s):
  s=str(s)[0:8]
  retval=None
  try:
    retval=datetime.datetime.strptime(s, "%Y%m%d")
  except:
      pass
      #print s

  return retval

In [ ]:
%%time
newcols=['issue_date','final_date']
loans['issue_date']=loans['issue_date'].apply(getDate)
loans['final_date']=loans['final_d'].apply(getDate)

In [ ]:
newcols=['issue_date','final_date']
loans[datecols+newcols].head(10)

In [ ]:
%%time
loans['outcome']=(loans['final_date'] < datetime.datetime(2015,3,31))
loans['issue_year']=loans['issue_date'].apply(lambda x: x.year)
loans['rem_prnco'] = loans['funded_amnt'] - loans['total_rec_prncp']
loans['net_return'] = loans['total_pymnt'] - loans['funded_amnt']

Building credit scoring model

In [7]:
features = ['grade',
            'sub_grade_num',
            'short_emp',
            'emp_length_num',
            'homeownership',
            'dti',
            'purpose',
            'payment_inc_ratio',
            'deling_2yrs',
            'deling_2yrs_zero',
            'inq_last_6mnths',
            'last_delinq_none',
            'open_acc',
            'pub_rec',
            'pub_rec_zero',
            'revol_util',
            'total_rec_late_fee',
            ]
        
response= 'bad_loans'

In [ ]:
completed_loans=loans[(loans['outcome']==1) & (loans["inactive_loans"]==1)]

In [ ]:
clean_date=completed_loans[features+ [response]].dropna()

In [ ]:
completed_loans.shape,clean_data.shape

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, LabelBinarizer
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve, auc, confusion_matrix

import sklearn
from sklearn_pandas import DataFrameMapper

numerical_cols= ['sub_grade_num',
            'short_emp',
            'emp_length_num',
            'dti',
            'payment_inc_ratio',
            'deling_2yrs',
            'deling_2yrs_zero',
            'inq_last_6mnths',
            'last_delinq_none',
            'last_major_derog_none',
            'open_acc',
            'pub_rec',
            'pub_rec_zero',
            'revol_util',
            'total_rec_late_fee',]

categorical_cols=['grade', 'homeownership', 'purpose']

mapper = DataFrameMapper([
('grade',sklearn.preprocessing.LabelBinarizer()),
('homeownership',sklearn.preprocessing.LabelBinarizer()),
('purpose',sklearn.preprocessing.LabelBinarizer()),

    ])


X1=mapper.fit_transform(clean_data)
X1.shape

X2=np.array(clean_data[numerical_cols])
X2.shape

In [ ]:
X = np.hstack((X1,X2))
y = np.array(clean_data['bad_loans'])

X.shape, y.shape

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state_100)

In [ ]:
rf_lm = LogisticRegression()
rf_lm.fit(X_train, y_train)

In [ ]:
y_pred = rf_lm.predict_proba(X_test)[:,1]
y_pred_class=rf_lm.predict(X_test)
accuracy = np.sum(y_pred_class==y_test)/y_test.shape[0]

print('accuracy = %0.2f' %accuracy)